#wrapper {
	width: 100%;
	height: 100%;
}

#header {
	border: 1px red solid;
	margin: auto;
	width: 1200px;
	height: 150px;
	background-color: white;
}

#title {
	font-family: Courier;
	font-size: 50px;
	margin: auto;
	margin-left: 45px;
	margin-top: 50px;
	color: red;
	
}

#cursor {
	font-family: Courier;
	font-size: 50px;
	color: #009300;
	margin-top: 50px;
	float: left;
}

 #navbar {
	margin: auto;
	width: 1500px;
	height: 50px;
	margin-top: 140px;
	padding-left: 30px;
 }

 #content {
 	border: 1px red solid;
	position: relative;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 35px;
	width: 1200px;
	min-height: 500px;
	height: auto;
	background: transparent;
	overflow: auto;
}

#footer {
	height: 80px;
	width: 1200px;
	margin: auto;
	border: 1px red solid;
	clear: both;
}

#footer p {
	text-align: center;
}

div {
	border-radius: 10px;
}

a {
	text-decoration: none;
}